.App {
  font-family: sans-serif;
  text-align: center;
}
.listbox {
  border: 2px solid black;
  width: 51%;
}
.textbox {
  display: flex;
  width: 50%;
  font-size: 18px;
  padding: 5px;
  border: 1px solid #ddd;
}
.filterList {
  display: flex;
  padding: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  display: block;
}
.filterList:hover {
  color: white;
  background-color: blue;
}
