.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchBox {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.searchBox input {
  font-size: 12px;
  width: 400px;
  display: flex;
  padding: 5px;
  border: 1px solid black;
  justify-content: space-between;
}
.listbox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.filterList {
  padding: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.filterList:hover {
  color: white;
  background-color: blue;
}
